<!DOCTYPE html>
<html>
<head>
    <title>Hoş Geldiniz!</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; background-color: #f4f4f4; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); text-align: center;">
        
        <img src="https://www.computerhope.com/jargon/g/gmail.png" alt="Hoş Geldiniz" style="max-width: 100%; height: auto; margin-bottom: 20px;">

        <h1 style="color: #333333;">Merhaba, {{ user.first_name }}!</h1>
        <p style="color: #555555; font-size: 16px;">
            {{message}}
        </p>
        {% if link %}
          
        <a href="{{ link }}" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #ffffff; text-decoration: none; border-radius: 4px; font-size: 16px;">
            Hesabınızı Aktif Edin
        </a>
        {% endif %}
        <p style="color: #999999; font-size: 12px; margin-top: 20px;">
            Bu e-posta bir sistem bildirimi içerir. Yanıtlamayın.
        </p>
    </div>
</body>
</html>
