{% extends "base.html" %} 
{% load static %}

{% block container %}

<section class="password-reset-section">
  <h1 class="password-reset-title">Yeni Parola Oluşturma</h1>
  <div class="password-reset-container">
    <img src="{% static 'images/newpassword.svg' %}" alt="" width="400" />
    <div class="password-reset-right-container">
      <h1>Parolanızı Sıfırlayın</h1>
      <span>Yeni parolanızı girin</span>

      <form method="POST">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages  %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
       
        </ul>
        {% endif %}
        <div class="input-container">
          <i class="fas fa-lock"></i>
          {{form.password}}
        
        </div>
        <div class="input-container">
          <i class="fas fa-lock"></i>
          {{form.confirm_password}}
        </div>

        <button type="submit">Şifre Sıfırla</button>
      </form>
    </div>
  </div>
</section>

{% endblock container %}
