
{% extends "base.html" %}
{% load static %}

{% block container %}
<section class="profile-section">
    <h1 class="section-title">Şifre Değiştirme</h1>
    <div class="profile-container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages  %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
       
        </ul>
        {% endif %}


        <div class="user-password-container">
            <h1 class="password-title">Parola İşlemleri </h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-container">
                    <label for="">Eski Parola</label>
                    {{form.old_password}}
                </div>
                <div class="input-container">
                    <label for="">Yeni Parola</label>
                    {{form.new_password1}}
                </div>
                <div class="input-container">
                    <label for="">Yeni Parola Tekrar</label>
                    {{form.new_password2}}
                </div>
                <button>Kaydet</button>
            </form>
        </div>
    </div>
</section>

{% endblock container %}